@font-face {
    font-family: fb;
    src: url(../assets/font/FACEBOLF.OTF);
}


*{
    margin: 0;
}

body {
    background-color: #fff;
}



#fb-nav{
    height: 120px;
    width: 100%;
    background-color :#4c66a4;
}

.fltRight{
    float: right;
    margin-right: 5%;
}

.fltLeft{
    float: left;
    margin-left: 5%;
}

.imrgtop{
    margin-top: 20px;
}

#fb-nav a{
    text-decoration: none;
    font-size: 3em;
    font-family: fb;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 40px;
    display: block;
}


#fb-nav p{
    text-decoration: none;
    font-size: 3em;
    font-family: fb;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 40px;
    display: block;
}

.first{
    margin-left: 5%;
}

.fb-button{
    height: 100%;
    width: 10%;

}

#titleOne{
    width: 100%;
    height: auto;
    margin-top: 50px;
}

#titleOne p{
    text-align: center;
    font-family: fb;
    border-bottom: 1px solid #62b1f6;
    font-size: 50px;
    margin-top: 50px;
    width:80%;
    margin: 20px auto;
}

#explainSection{
    height: 500px;
    width: 100%;
    margin-top: 50px;
}

#explainOne{
    height: 20%;
    width:100%;
}

#explainOne p{
    font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    font-size: 40px;
    width: 80%;
    margin: 0 auto;

}

#explainTwo{
    height: 40%;
    width: 100%;
    margin-top: 5%;
}

#explainTwo p{
    font-family:'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    font-size: 40px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #62b1f6;
}

#continueButton{
    height: 300px;
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: rgb(49,183,222);
    border: 5px solid grey;
}

#continueButton p{
    font-size: 80px;
    font-family: fb;
    text-align: center;
    color: #fff;
    margin-top: 110px;
}


#footer{
   height: 50px;
   width :100%;
   border: 1px solid #000;
   position: absolute;
   bottom:0;
}
