<html>
    <head>
        <link rel="stylesheet" href="CMSstyle.css">
    </head>
    <body>
        
        
        
        <nav id="panelSelector">
            
        </nav>
        
        <div id="data">
            
        </div>
        
        
        
        
        <!-- templates down here -->
        <script id="data-template" type="text/x-handlebars-template">
            {{#each this}}
                <p>{{wejo}}</p>
            {{/each}}
        </script>
        
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="../logic/JS/handlebars.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
        <script type="text/javascript" src="../logic/JS/DataRequest.js"></script>
        <script type="text/javascript" src="../logic/JS/CMS-rearHandler.js"></script>
    </body>
</html>