@font-face {
    font-family: Chalkboard;
    src: url(../font/chalkboard.ttf);
}

body{
   padding:0;margin:0;
   background:#fafafa;
   font-family: sans-serif;
}

#header h1{
    font-family: chalkboard;
}